#container {
    width: 350px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ready-button {
    width: 350px;
    height: 48px;
    border-radius: 10px;
    background-color: #006BFF;
    font-size: 16px;
    font-weight: 500;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wait-button {
    width: 350px;
    height: 48px;
    border-radius: 10px;
    background-color: #BCBCBC;
    font-size: 16px;
    font-weight: 500;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-button:hover {
    cursor: pointer;
}