<div class="container">
    <!-- edit buttons & back button-->
    <div class="horizontal-container">
        <div><app-simple-button class="back-button" [buttonElement]="this.goBackButtonElement"
                [heightSize]="36"></app-simple-button></div>
        <div><app-circle-toggle-button-group id="edit-feature-buttons" #editFeatureButtons
                [elements]="this.editFeatures" [innerSize]="20" [outerSize]="'36px'"
                [noneStatusValue]="this.mobileTicketEditMode.NONE"
                (onClickToggleButtonEvent)="this.onClickChangeEditMode($event)"></app-circle-toggle-button-group>
        </div>
        <div><app-simple-button class="complete-button" [buttonElement]="this.previewButtonElement" [heightSize]="15"
                (onClickEvent)="this.onClickPreviewButton()" [type]="'text'"></app-simple-button></div>
    </div>
    <!-- detailed editor view -->
    <div id="detail-editor" [hidden]="
    
      (
        this.editMode === this.mobileTicketEditMode.NONE
      )
    ">
        <!--back button-->
        <div class="horizontal-container">
            <div><app-simple-button class="back-button" [buttonElement]="this.goBackButtonElement" [heightSize]="40"
                    (onClickEvent)="this.onClickEndDetailedEditViewer()"></app-simple-button></div>
            <div><app-simple-button class="complete-button" [buttonElement]="this.completeButtonElement"
                    [heightSize]="15" (onClickEvent)="this.onClickEndDetailedEditViewer()" [type]="'text'"
                    [highContrast]="true"></app-simple-button></div>
        </div>
        <!-- bacground color edit feature -->
        <div *ngIf="this.editMode === this.mobileTicketEditMode.BACKGROUND_COLOR_CHANGE">
            <svg id="ticket-background" width="350" height="600" viewBox="-87.5 -150 525 900" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" #backgroundPath
                    d="M9.53674e-06 40C9.53674e-06 17.9086 17.9086 0 40 0H310C332.091 0 350 17.9086 350 40L350 451.714C333.431 451.714 320 463.227 320 477.429C320 491.63 333.431 503.143 350 503.143L350 560C350 582.091 332.091 600 310 600H40C17.9086 600 9.53674e-06 582.091 9.53674e-06 560L0 503.143C16.5685 503.143 30 491.63 30 477.429C30 463.227 16.5685 451.714 0 451.714L9.53674e-06 40Z"
                    fill="#D9D9D9" />
            </svg>
            <app-color-board class="color-board" [outerSize]="'30px'" [innerSize]="'24px'"
                (onClickToggleButtonEvent)="this.changeBackgroundColor($event)"></app-color-board>
        </div>
        <!-- text edit feature -->
        <div *ngIf="this.editMode===this.mobileTicketEditMode.TEXT">
            <div id="text-edit-feature-container" #textEditFeatureContainer>
                <textarea id="text-edit-input" #textEditInput autocomplete="off" type="text"
                    [style.text-align]="this.textAlign" [style.color]="this.textColor.color"
                    (input)="this.onChangeSsaslonTextAttribute('text', $event)"></textarea>
            </div>
            <div class="horizontal-container" id="text-align" [style.justify-content]="'center'">
                <app-circle-toggle-button-group [elements]="this.textAlignButtons" [outerSize]="'30px'"
                    (onClickToggleButtonEvent)="this.onChangeSsaslonTextAttribute('textAlign', $event)"></app-circle-toggle-button-group>
            </div>
            <app-simple-toggle-button-group class="fonts" [elements]="this.fonts"></app-simple-toggle-button-group>
            <app-color-board class="color-board" [outerSize]="'30px'" [innerSize]="'24px'"
                (onClickToggleButtonEvent)="this.onChangeSsaslonTextAttribute('color', $event)"></app-color-board>
        </div>

        <!-- sticker edit feature -->
        <div id="sticker-edit-feature-container" #stickerEditFeatureContainer
            *ngIf="this.editMode===this.mobileTicketEditMode.STICKER" [style.scroll-y]="'auto'">
            <div [style.display]="'flex'" [style.justify-content]="'space-evenly'" [style.margin-bottom]="'20px'"
                *ngFor="let stickerRow of this.getStickerArray()">
                <div *ngFor="let sticker of stickerRow">
                    <div class="sticker">
                        <img src="assets/heart.png" [width]="'50px'" [height]="'50px'" />
                    </div>
                </div>
            </div>
        </div>
        <!-- color edit feature -->


    </div>
</div>