.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.new-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

#background {
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 400px;
    background-color: #f5f5f5;
}

#logo-container {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
}

#login-buttons-container {
    position: absolute;
    bottom: 100px;
    width: 350px;
}

.login-button-container {
    margin-bottom: 10px;
}

#new-logo-container {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
}

#new-login-buttons-container {
    position: absolute;
    bottom: 100px;
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
}

.new-login-button-container {
    margin-bottom: 10px;
}

.left-container {
    position: relative;
    height: 100%;
    width: 50%;
}

.right-container {
    width: 50%;
    height: 100%;
}