<div class="new-container">
    <div class="left-container">
        <img id="new-logo-container" src="assets/ssalon_logo_hand.svg" height="65" />
        <div id="new-login-buttons-container">
            <app-simple-toggle [align]="'center'" [columnNum]="1"
                [buttonElements]="this.buttonElementsService.loginButtonElements"
                (onClickToggleButtonEvent)="this.onClickLoginButton($event)"></app-simple-toggle>
        </div>
    </div>
    <div class="right-container">
        <app-ticket [moimId]="'2'" [viewType]="'view'"></app-ticket>
    </div>


</div>

<!--
    <div class="container">
    <div class="left-container"></div>
    <div class="right-container"></div>
    <div id="background">
        <app-ticket [moimId]="'2'" [viewType]="'view'"></app-ticket>
    </div>
    <img id="logo-container" src="assets/ssalon_logo_hand.svg" height="65" />
    <div id="login-buttons-container">
        <app-simple-toggle [align]="'center'" [columnNum]="1"
            [buttonElements]="this.buttonElementsService.loginButtonElements"
            (onClickToggleButtonEvent)="this.onClickLoginButton($event)"></app-simple-toggle>
    </div>
</div>
-->