.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#logo-container {
    position: absolute;
    top: 120px;
    width: 350px;
}

#login-buttons-container {
    position: absolute;
    top: 450px;
    width: 350px;
}

.login-button-container {
    margin-bottom: 10px;
}