#simple-button {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#simple-button:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

#text-div {
  text-align: center;
}