.container {
    width: 100%;
    margin-top: 8px;
}

#profile-container {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#profile-img-container {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

#image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#chat-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    border-radius: 10px;
}

#name-container {
    margin-left: 12px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

#content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

#text-container {
    border-radius: 10px;
    padding: 8px;
    max-width: 300px;
    border: solid #D8D8DA 1px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 14px;
    font-weight: 400;
    word-break: break-word;
}

#date-container {

    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 11px;
    font-weight: 500;
}