.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container::-webkit-scrollbar {
    display: none;
}

#extra-label-container {
    font-size: 14px;
}

#label-container {
    font-size: 14px;
    margin-bottom: 6px;
    width: 100%;
}

#row-container {
    width: 100%;
}

#row-container::-webkit-scrollbar {
    display: none;
}

.toggle-group-row-container {
    display: flex;
    margin-bottom: 16px;
}

.label {
    font-size: 16px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.img {
    margin-right: 8px;
}

.unselected-button {
    width: 110px;
    height: 48px;
    border-width: 1.5px;
    border-radius: 5px;
    border-color: #D8D8DA;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    margin-right: 10px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 16px;
    font-weight: 500;
}


.selected-button {
    width: 110px;
    height: 48px;
    border-width: 1.5px;
    border-radius: 5px;
    border-color: #2c2c2c;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    margin-right: 10px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.unselected-button-solid {
    width: 110px;
    height: 48px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    margin-right: 10px;
    border-radius: 4px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 16px;
    font-weight: 500;
}


.selected-button-solid {
    width: 110px;
    height: 48px;
    display: flex;
    background-color: #000000;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    margin-right: 10px;
    border-radius: 4px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.button-hover:hover {
    cursor: pointer;
}