<div *ngIf="this.getBackButtonVisibility()" class="top-navigator">
  <app-simple-button (onClickEvent)="this.onClickBackButton()" [buttonElement]="this.topNavigatorButton"
    [heightSize]="40"></app-simple-button>
  <app-simple-button (onClickEvent)="this.onClickQuitButton()" [buttonElement]="this.quitFeatureButton"
    [heightSize]="15" [type]="'text'"></app-simple-button>
</div>

<!-- APPVIEW: 앱에서 보는 화면의 경우 -->
<div class="container" *ngIf="this.mode === this.mobileTicketViewMode.APPVIEW" #appView>
  <div [style.height]="'100%'">
    <app-mobile-ticket-viewer [moimId]="this.moimId"></app-mobile-ticket-viewer>
  </div>
</div>

<!-- APPEDITVIEW: 앱에서 보는 꾸미기 화면의 경우 -->
<div class="container" [hidden]="!(this.mode === this.mobileTicketViewMode.APPEDITVIEW)" #appEditView>
  <div id="editor-viewer-container">
    <app-mobile-ticket-edit-viewer [moimId]="this.moimId" [createTemplate]="this.createTemplate" [face]="this.face"
      #mobileTicketEditViewer (onClickText)="this.openTextEditor($event)"></app-mobile-ticket-edit-viewer>
  </div>
  <div id="editor-container">
    <app-mobile-ticket-editor [moimId]="this.moimId" [face]="this.face" #mobileTicketEditor [style.height]="
      this.editMode === this.mobileTicketEditMode.NONE ? '60px' : '100%'
    " (onChangeViewer)="this.changeEditMode($event)" (onClickPreview)="this.onClickPreviewButton()"
      (onObjectEditEnded)="this.applyEdit($event)"
      (onBackgroundColorEditEnded)="this.applyBackgroundColorEdit($event)"></app-mobile-ticket-editor>
  </div>

</div>

<!-- WEBVIEW: 웹에서 보는 화면의 경우 -->
<div class="container" *ngIf="this.mode === this.mobileTicketViewMode.WEBVIEW" #webView>
  <div [style.height]="'100%'">
    <app-mobile-ticket-viewer [moimId]="this.moimId"></app-mobile-ticket-viewer>
  </div>
  <div>
    <app-simple-button [buttonElement]="this.joinButtonElement"></app-simple-button>
  </div>
</div>