.bottom-button {
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
}

.bottom-container {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: 1000;
=======

>>>>>>> develop
}