.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

#profile-img-container {
    margin-bottom: 20px;
}

#cs-button {
    margin-top: 50px;
    color: #000000;
    font-size: 14px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#remove-account-button {
    margin-top: 50px;
    color: #FF0000;
    font-size: 12px;
    border: none;
    padding: 10px;
    cursor: pointer;
}