<div class="container">
    <app-top-navigator [style.width]="'100%'" [title]="'모임만들기'" [shareButton]="false"></app-top-navigator>
    <div id="meeting-info-conatiner">
        <app-simple-input [label]="'모임 카테고리'" [placeholder]="'모임 카테고리를 설정해주세요'"></app-simple-input>
        <app-simple-input [label]="'모임 이름'" [placeholder]="'모임명을 입력해주세요'"></app-simple-input>
        <app-simple-input [type]="'datetime-local'" [label]="'날짜'"
            [placeholder]="'모임이 진행될 날짜를 선택해주세요'"></app-simple-input>
        <app-simple-input [label]="'장소'" [placeholder]="'모임이 진행될 자세한 장소를 입력해주세요'"></app-simple-input>
        <app-simple-input [type]="'longText'" [label]="'모임 소개'"
            [placeholder]="'어떤 활동을 하는지 모임에 대해 소개해주세요'"></app-simple-input>
        <app-simple-input [label]="'최대 인원수'" [placeholder]="'원하는 최대 인원 수를 입력해주세요'"></app-simple-input>
        <app-simple-input [label]="'참가비'" [placeholder]="'참가비를 입력해주세요'"></app-simple-input>
    </div>

</div>