#virtual-scroll-container {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.image-row-container {
    display: flex;
    flex-direction: row;
    width: 350px;
    margin-bottom: 16px;
    overflow: scroll;
}

.image-row-container::-webkit-scrollbar {
    display: none;
}

.image-container {
    margin-right: 10px;
    position: relative;
    border-radius: 10px;
}

.image-container:hover {
    cursor: pointer;
}

.deco-container {
    border-radius: 5%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 10px;
}

.title-container {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 100%;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    text-shadow: 2px 2px 6px black;
    color: white;
}

#extra-label-container {
    font-size: 14px;
}

#label-container {
    font-size: 14px;
    margin-bottom: 6px;
    width: 100%;
}

.sub-info-container {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100%;
    height: 20px;
    font-size: 12px;
    text-shadow: 2px 2px 6px black;
    color: white;
}

svg {
    filter: drop-shadow(2px 2px 1px rgb(0 0 0 / 0.4));
}