/* You can add global styles to this file, and also import other style files */
/* HTML, BODY */
html,
body {
    height: 100%;
}

/* BODY */
body {
    margin: 0;
    overflow: hidden;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

p {
    margin: 0;
    /* <p> 태그의 기본 마진 제거 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    /* 제목 태그의 기본 마진 제거 */
}

ul,
ol {
    margin: 0;
    /* 리스트의 기본 마진 제거 */
    padding-left: 20px;
    /* 리스트 아이템 들여쓰기 */
}

li {
    margin: 0;
    /* 리스트 아이템의 기본 마진 제거 */
}

.lower-canvas {
  border-radius: 5% !important
}
