#viewport {
    width: 100%;
    height: 100%;
}

.focus-front-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    z-index: 100;
}

.move-rect {
    position: absolute;
    top: 10px;
    left: 70px;
    width: 50px;
    z-index: 100;
}