.container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#bottom-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 420px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 24px;
}

.content-container {
    width: 100%;
<<<<<<< HEAD
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    margin-top: 20px;
=======
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll
>>>>>>> develop
}

.content-container::-webkit-scrollbar {
    display: none;
<<<<<<< HEAD
}

.complete-button {
    position: absolute;
    bottom: 20px;
}

.feature-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 100px;
    text-align: center;
=======
>>>>>>> develop
}