<div id="simple-input-component-container" [style.height.px]="(this.type === 'longText')?28+this.longTextHeight:77">
    <div id="label-container" *ngIf="this.label !== ''">
        <div [style.display]="'flex'">
            <div>{{this.label}}</div>
            <div id="extra-label-container" [style.color]="this.extraLabelColor" *ngIf="this.extraLabel !== ''">
                {{this.extraLabel}}</div>
        </div>

        <div id="checkbox-container">
            <div id="checkbox-label-container" *ngIf="this.enableCheckbox === true">{{this.checkBoxLabel}}</div>
            <div *ngIf="this.enableCheckbox === true"><input type="checkbox" id="check"
                    (click)="this.onClickCheckbox($event)" /></div>
        </div>

    </div>
    <div id="input-container">
        <input *ngIf="this.type !== 'longText'" id="input" [type]="this.type" [placeholder]="this.placeholder"
            [style.padding-right.px]="(this.type==='chat-input')?40:10" autocomplete="off" (click)="this.onClickInput()"
            (input)="this.onChangeInput($event)" [(ngModel)]="this.innerText" #textDiv />
        <img *ngIf="this.type === 'chat-input'" id="chat-send-button" src="assets/icons/send_message.png"
            (click)="this.onClickChatSendButton()" />
        <textarea *ngIf="this.type === 'longText'" id="text" [placeholder]="this.placeholder"
            (click)="this.onClickInput()" (input)="this.onChangeInput($event)" [(ngModel)]="this.innerText"
            [style.height.px]="this.longTextHeight" #textDiv></textarea>
    </div>
</div>