#container {
  display: flex;
  max-width: 300px;
  overflow-x: scroll;
}

#feature-buttons {
  position: absolute;
  display: flex;
  right: 0;
}

.toggle-button {
  border-radius: 50%;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  flex: 0 0 auto;
}

.toggle-button:hover {
  cursor: pointer;
  background-color: #0090f2;
}

.selected {
  background-color: #0090f2;
}
