.profile-update-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.profile-update-container::-webkit-scrollbar {
  display: none;
}

.container {
  margin-top: 30px;
  width: 400px;
  height: 300px;
  overflow-y: scroll;
}